# DOCKER CONTAINERS VERSIONS
PHP_VERSION=8.2-fpm
COMPOSER_VERSION=2.8
NGINX_VERSION=1.23

# WEBSERVER
NGINX_CONF=./config/nginx/nginx.conf
WEBSERVER_PORT=80

# DATABASE
MYSQL_PORT=3007
MYSQL_DATABASE=app
MYSQL_ROOT_PASSWORD=m3lx3ls9irwrd98l5n0txyugm
MYSQL_USER=laravel
MYSQL_PASSWORD=uxx4hpjl0p2sw4oxl6np84quz

# BACKEND
LOG_CHANNEL=stderr
APP_NAME=app
APP_ENV=local
APP_DEBUG=1
APP_URL=http://localhost
APP_KEY=7l3s7x47z14p4ev1h2ropnowfyoxmxgxeioa33


DB_CONNECTION=mysql
DB_HOST=db
# Internal port in the docker network
MYSQL_INTERNAL_PORT=3306